{% extend 'nuit/base.html' topbar=True leftmenu=False breadcrumbs=False show_user_info=True %}

{% load compress %}

{% block top_bar_menu %}
    {% menu_item link='/home' name='Home' %}
    {% if user.is_authenticated %}
        {% menu_item link='/game' name='Game' %}
        {% menu_item link='/game/level_editor' name='Create' %}
        {% menu_item link='/game/scoreboard' name='Scoreboard' %}
    {% endif %}
{% endblock top_bar_menu %}

{% block top_bar_right_menu %}
    {% if user.is_authenticated %}
        {% menu_item link='/feedback' name='Feedback' %}
        {% menu_item link='/admin' name='Admin' %}
    {% endif %}
{% endblock top_bar_right_menu %}

{% block user_info_menu %}
    {% menu_item link='/game/settings' name='Settings' %}
{% endblock user_info_menu %}


{% block content %}{% endblock %}

{% block scripts %}
  {{block.super}}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49883146-1', 'ocado.com');
    ga('send', 'pageview');

  </script>
{% endblock %}
