{% extends 'website/base.html' %}


{% block css %}
{% endblock %}

{% block content %}
<h1>Feedback</h1>
<div class="feedback">
    <p>We welcome any feedback you have on this website. Please fill in the form below to get in contact with us!</p>
    <div class="form">
        <form method='post'>
            {% foundation_form form %}
            {% end_foundation_form %}

            <button type='submit'>Submit</button>

            {% csrf_token %}

        </form>
    </div>
</div>

{% endblock %}
