*.log
*.po
*.mo
*.pyc
local_settings.py
/static/
/env/
*.iml
*~
*.egg-info

.settings
.project
.pydevproject
.idea
*dbfile
db.sqlite3
*.orig
.sass-cache
*.DS_Store
*.jshintrc
example_project/example_project/static/
models2.dot
models2.png
