*.log
*.po
*.mo
*.pyc
/static/
/env/
*.iml
*~
*.egg-info
.venv

.settings
.project
.pydevproject
.idea
*dbfile
db.sqlite3
*.orig
.sass-cache
*.DS_Store
*.jshintrc

.coverage
.eggs/**
.tests_static/**
build/**
coverage.xml
pep8.txt
pyproject.toml
