[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rapid-router = {editable = true, path = "."}

[dev-packages]
django-selenium-clean = "==0.3.3"
django-test-migrations = "==1.2.0"
selenium = "==3.141.0"
pytest-django = "==4.5.2"
pytest = "==7.*"
pytest-xdist = "*"
pytest-order = "*"
codeforlife-portal = "*"

[requires]
python_version = "3.7"
