/* Background colours for episodes and game sidebar */

.bg--easy {
    background-color: #86ae18;
}

.bg--medium {
    background-color: #00a3e0;
}

.bg--medium-hard {
    background-color: #008cc1;
}

.bg--brainteasers {
    background-color: #c90548;
}

.bg--shared-levels {
    background-color: #f6be00;
}

.bg--early-python {
    background-color: #213CE7;
}

.bg--late-python {
    background-color: #152584;
}

.banner--python-den--image {
    width: 100%;
}
