/* Background colours for episodes and game sidebar */

.bg--easy {
    background-color: #86ae18;
}

.bg--medium {
    background-color: #00a3e0;
}

.bg--medium-hard {
    background-color: #008cc1;
}

.bg--brainteasers {
    background-color: #c90548;
}

.bg--hard {
    background-color: #8967d3;
}

.bg--advanced {
    background-color: #754fc8;
}

.bg--shared-levels {
    background-color: #f6be00;
}

.bg--loops {
    background-color: #3F3F3F;
}

.bg--loops-coming-soon {
    background-color: #CBCBCB;
}
