editor-wc {
    display: block;
    height: 500px;
    width: 66%;
}

video {
    border: 1px solid black;
    border-radius: 5px;
}

@media (max-width: 1000px) {
    editor-wc {
        width: 100%;
    }
}
