#wrapper {
    position: fixed;
    overflow: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.top-bar {
    display: none;
}

#programmingConsole {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

#paper {
    position: absolute;
    top: 0;
    left: 50%;
    border: 0;
    background-color: #A0C53A;
    width: 50%;
    height: 100%;
    overflow: auto;
    z-index: 6;
}

#controls {
    bottom: 20px;
    height: 200px;
    position: fixed;
    right: 20px;
    width: 700px
}

#controls button {
    margin-bottom: 0;
}

#controls .navigation {
    position: absolute;
    bottom: 0;
    right: 0;
}

button, .button, img.control{
    margin-right: 10px;
}

.col {
    float: left;
}

.ocago-modal-mainText{
    font-size: 1.2rem !important;
}
.ocago-modal-lead {
    font-size: 1.4rem !important;
}

.ocago-modal-mainText > #hintText,
.ocago-modal-mainText > #hintBtnPara {
	margin: 2rem 1rem 0;
}

#newWorkspaceName {
    height: 50px;
    width: 500px;
    font-size: 1.4rem !important;
}

.scrolling-table-wrapper {
    position: relative;
}

.scrolling-table {
    max-height: 200px;
    overflow: auto;
}

#workspaceTable {
    width: 100%;
}

#sliderControls {
    position: absolute;
    left: 50%;
    height: 0%;
    z-index: 7;
}

#consoleSlider {
    position: absolute;
    left: 50%;
    width: 5px;
    height: 100%;
    z-index: 9;
    background-color: #444;
    cursor: col-resize;
}

#fuelGuage {
    position: fixed;
    z-index: 7;
    width: 100px;
    height: 100px;
    right: 30px;
    bottom: 20px;
}

#fuelGuagePointer {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 8;
    top: 0px;
}

img.control{
	height:50px;
	cursor: pointer;
}

/* Styles for the instruction buttons */
.picButton {    
    background-color: transparent;
    padding: 0px 0px 0;
    position: absolute;
    vertical-align: top;
}

.picButton[disabled],
.picButton:hover,
.picButton:focus {
   background-color:rgba(255,255,255,0.5);
   border:none;
}

.picButton span {
    background-repeat: no-repeat;
    background-size: 45px 45px;
    background-position: center;
    display: inline-block;
    height: 45px;
    width: 45px;
    text-indent: 200%;
    white-space: nowrap;
}

#blockly {
    height: 100%;
}

#pythonCode {
    position:absolute;
    display: none;
    height: 100%;
    width:90%;
    overflow: auto;
    padding: 15px;
    left:46px;
}

#consoleOutput {
    background-color: #eceaee;
    max-height: 300px;
    max-width: 100%;
    min-height: 250px;
    min-width: 100%;
    overflow: auto;
    padding: 5px;
}

@media print {
    #paper {
        width: 100% !important;
    }

    .no-print {
        display: none !important;
    }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/******************/
/** Direct drive **/
/******************/

#direct_drive {
    width: 140px;
    height: 95px;
    position: absolute;
    z-index: 7;
    bottom: 15px;
    left: 50%;
}

#turnLeft,
#turnRight,
#play {
    bottom: 0px;
}

#moveForward, 
#play {
    left: 60px;
}

#turnLeft {
    left: 10px;
}

#turnRight {
    left: 110px;
}

#moveForward {
    bottom: 50px;
}

.picButton#turnLeft span {
    background-image : url('/static/game/image/arrow_left.svg');
}

.picButton#turnRight span {
    background-image : url('/static/game/image/arrow_right.svg');
}

.picButton#moveForward span {
    background-image : url('/static/game/image/arrow_forward.svg');
}

.picButton#play span {
    background-image : url('/static/game/image/arrow_go.svg');
}

/***************/
/** Side menu **/
/***************/

#side_menu {
    width: 46px;
    height: 46px;
    position: absolute;
    z-index: 1;
    top: 30px;
}

.picButton#play2 {
    top: 0px;
}

.picButton#play2 span {
    background-image : url('/static/game/image/menu_button_play.svg');
}

.picButton#stop {
    top: 0px;
}

.picButton#stop span {
    background-image : url('/static/game/image/menu_button_stop.svg');
}

.picButton#step {
    top: 50px;
}

.picButton#step span {
    background-image : url('/static/game/image/menu_button_step.svg');
}


.picButton#save {
    top: 120px;
}

.picButton#save span {
    background-image : url('/static/game/image/menu_button_save.svg');
}

.picButton#load {
    top: 170px;
}

.picButton#load span {
    background-image : url('/static/game/image/menu_button_load.svg');
}

.picButton#clear {
    top: 220px;
}

.picButton#clear span {
    background-image : url('/static/game/image/menu_button_clear.svg');
}



.picButton#big_code_mode {
    top: 290px;
}

.picButton#big_code_mode span {
    background-image : url('/static/game/image/menu_button_big_code_mode.svg');
}


.picButton#toggle_console {
    top: 340px;
}

.picButton#toggle_console span {
    background-image : url('/static/game/image/menu_button_toggle_console.svg');
}


.picButton#help {
    top: 410px;
}

.picButton#help span {
    background-image : url('/static/game/image/menu_button_help.svg');
}


.picButton#quit {
    top: 460px;
}

.picButton#quit span {
    background-image : url('/static/game/image/menu_button_quit.svg');
}