.top-bar {
    display: none;
}

#wrapper {
    position: fixed;
    overflow: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#programmingConsole {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

#paper {
    position: absolute;
    top: 0;
    left: 50%;
    border: 0;
    background: rgb(239, 248, 255);
    width: 50%;
    height: 100%;
    overflow: auto;
    z-index: 6;
}

.col {
    float: left;
}

.ocargo-modal-mainText{
    font-size: 1.2rem !important;
}
.ocargo-modal-lead {
    font-size: 1.4rem !important;
}

.ocargo-modal-mainText > #hintText,
.ocargo-modal-mainText > #hintBtnPara {
	margin: 2rem 1rem 0;
}

#fuelGauge {
    position: fixed;
    z-index: 7;
    width: 100px;
    height: 100px;
    right: 30px;
    bottom: 20px;
}

#fuelGaugePointer {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 8;
    top: 0px;
}

img.control{
	height:50px;
	cursor: pointer;
}

#blockly {
    height: 100%;
}

@media print {
    #paper {
        width: 100% !important;
        left: 0 !important;
    }

    .no-print {
        display: none !important;
    }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.picture_button {
    background-repeat: no-repeat;
    background-position: center;
    display: inline;
    text-indent: 200%;
    white-space: nowrap;
    cursor: pointer;
    background-color: transparent;
    padding: 2px;
    margin-bottom: 0rem;
    transition: background-size 0.3s;
}

.picture_button:hover,
.picture_button:focus {
    transition: background-size 0.3s;
    background-color: transparent;
    border: none;
}

.picture_button[disabled],
.picture_button[disabled]:hover {
    background-color: transparent;
}

.navigation_button {
    width: 126px;
    height: 52px;
    background-size: 120px 50px;
    position: relative;
}

.navigation_button:hover {
    background-size: 125px 52px;
}

/******************/
/* Python console */
/******************/

#pythonCode {
    position:absolute;
    display: none;
    height: 100%;
    width:90%;
    overflow: auto;
    padding: 15px;
    left:46px;
}

#consoleOutput {
    background-color: #eceaee;
    max-height: 300px;
    max-width: 100%;
    min-height: 250px;
    min-width: 100%;
    overflow: auto;
    padding: 5px;
    margin-bottom: 20px;
}

#clear_console {
    background-image : url('/static/game/image/buttons/navigation/clear.svg');
    float: right;
    margin-bottom: 0px
}

/***********/
/* Sliders */
/***********/

/* Button */
#hide,
#show {
    position: absolute;
    left: 50%;
    width: 105px;
    height: 40px;
    z-index: 7;
    margin-top: 2px;
    margin-left: 5px;
    background-size: 100px 38px;
}

#hide:hover,
#show:hover {
    background-size: 105px 40px;
}

#hide {
    background-image : url('/static/game/image/buttons/navigation/hide.svg');
}

#show {
    background-image : url('/static/game/image/buttons/navigation/show.svg');
}


/* Central slider div */
#consoleSlider {
    position: absolute;
    left: 50%;
    width: 5px;
    height: 100%;
    z-index: 9;
    background-color: #444;
    cursor: col-resize;
}

/********************/
/* Loading & Saving */
/********************/

#workspaceNameInput {
    height: 51px;
    width: 202px;
    font-size: 1.4rem !important;
    padding-left: 10px;
}

.scrolling-table-wrapper {
    position: relative;
}

.scrolling-table {
    max-height: 200px;
    width: 350px;
    max-width: 350px;
    overflow: auto;
}

#saveWorkspaceTable,
#loadWorkspaceTable {
    width: 100%;
    cursor: pointer;
}


#loadWorkspace {
    background-image: url('/static/game/image/buttons/navigation/load.svg');
    margin-left: 20px;
}

#saveWorkspace {
    background-image: url('/static/game/image/buttons/navigation/save.svg');
    margin-left: 20px;
}

#deleteWorkspace {
    background-image: url('/static/game/image/buttons/navigation/delete.svg');
}

.save_load_image {
    margin-right: 20px;
}

/******************/
/** Direct drive **/
/******************/

#direct_drive {
    width: 200px;
    height: 95px;
    position: absolute;
    z-index: 7;
    left: 51%;
    bottom: 20px;
}

.direct_drive_button {
    background-size: 45px 45px;
    width: 50px;
    height: 50px;
    position: absolute;
}

.direct_drive_button:hover,
.direct_drive_button:focus
{ 
    background-color: rgba(240,240,240,0.3);
    background-size: 50px 50px;
}

#go  {
    left: 60px;
    bottom: 0px;
    background-image : url('/static/game/image/arrow_go.svg');
}

#turnLeft {
    left: 10px;
    bottom: 0px;
    background-image : url('/static/game/image/arrow_left.svg');
}

#turnRight {
    left: 110px;
    bottom: 0px;
    background-image : url('/static/game/image/arrow_right.svg');
}

#moveForward {
    left: 60px;
    bottom: 50px;
    background-image : url('/static/game/image/arrow_forward.svg');
}

/***************/
/** Side menu **/
/***************/

#side_menu {
    width: 46px;
    height: 46px;
    position: absolute;
    z-index: 1;
    top: 30px;
}

.menu_button {
    background-size: 42px 42px;
    width: 46px;
    height: 46px;
    padding: 0px;
    position: absolute;
}

.menu_button:hover,
.menu_button:focus
{ 
    background-size: 46px 46px;
    background-color:transparent;
}

.menu_button[disabled] {
    opacity: 0.5;
}

#play {
    top: 0px;
    background-image : url('/static/game/image/buttons/menu/play.svg');
}

#pause {
    top: 0px;
    background-image : url('/static/game/image/buttons/menu/pause.svg');
}


#resume {
    top: 0px;
    background-image : url('/static/game/image/buttons/menu/play.svg');
}

#stop {
    top: 50px;
    background-image : url('/static/game/image/buttons/menu/stop.svg');
}

#reset {
    top: 50px;
    background-image : url('/static/game/image/buttons/menu/reset.svg');
}

#step {
    top: 100px;
    background-image : url('/static/game/image/buttons/menu/step.svg');
}


#load {
    top: 170px;
    background-image : url('/static/game/image/buttons/menu/load.svg');
}

#save {
    top: 220px;
    background-image : url('/static/game/image/buttons/menu/save.svg');
}

#clear {
    top: 270px;
    background-image : url('/static/game/image/buttons/menu/clear.svg');
}

#big_code_mode {
    top: 340px;
    background-image : url('/static/game/image/buttons/menu/big_code_mode.svg');
}

#toggle_console {
    top: 390px;
    background-image : url('/static/game/image/buttons/menu/toggle_console.svg');
}

#help {
    top: 460px;
    background-image : url('/static/game/image/buttons/menu/help.svg');
}

#muted {
    top: 510px;
    background-image : url('/static/game/image/buttons/menu/muted.svg');
}


#unmuted {
    top: 510px;
    background-image : url('/static/game/image/buttons/menu/unmuted.svg');
}

#quit {
    top: 560px;
    background-image : url('/static/game/image/buttons/menu/quit.svg');
}

#buttonHelp img{
	height: 32px;
	width: 32px;
}

#buttonHelp p{
	margin: 5px;
}
