#wrapper {
    height: 730px;
    width: 1020px;
    margin-left: 20px;
    overflow: auto;

}

#paper {
    border: 0;
    background-color: rgb(180, 180, 180);
    float: left;
    height: 630px;
    margin-bottom: 30px;
    overflow: scroll;
    width: 650px;
}

.col {
    float: left;
    margin-left: 20px;
}

#tools {
    width: 330px;
}