.episode {
	border: 3px solid #5894C2;
	background-color: #80B3DA;
	color: #206396;
	float: left;
	padding: 20px;
	margin: 10px;
	height: 350px;
	width: 12.5%;
	min-width: 150px;
	overflow: auto;
}

.episode a {
	color: #206396;
}