#episodes .ui-accordion-header {
	color: #000;
	background: rgba(99, 119, 0, 0.5);
	margin-bottom: 5px;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

#episodes .ui-state-default {
	border: none;
	text-shadow: none;
	box-shadow: none;
	font-weight: normal;
	filter: none;
}

#episodes .customLevelsEpisode {
	background: #8EAECA;
}

