#main {
    float: left;
    width: 60%;
}

#profile {
    float: right;
    margin-top: 100px;
    margin-left: 3%;
    width: 16%;
    min-width: 200px;
}

#profile img {
    width: 140px;
    height: 140px;
    margin-bottom: 50px;
    margin-left: 5%;
}

#choice > label {
    background-color: white;
    border: none;
}

#wrapper {
    margin-top: 30px;
    margin-left: 3%;
}

#choice {
    float: left;
}

.avatar_container {
    margin-bottom: 2%;
    overflow: hidden;
}

.avatar_container img {
    width: 110px;
    height: 110px;
    margin: 20px 50px 20px 20px;
}

#wrapper > ul > li> label {
    display:inline-block;
}

.tab-content {
    width: 100%;
}

.shareButton {
    float: right;
}

.avatar_container input[type=submit] {
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal !important;
    line-height: normal;
    margin: 0 10px 1.25rem 0;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 1.0625rem 2rem 1rem;
    font-size: 1rem;
    background-color: #008cba;
    color: white;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    -webkit-appearance: none;
    border: none;
    float: left;
    overflow: hidden;
}
