{% extends 'website/base.html' %}

{% block title %}Game{% endblock %}

{% block scripts %}
  <script src="/static/game/js/raphael.js"></script>
  <script src="/static/game/js/drawing.js"></script>

  <script src="/static/game/js/blockly/blockly_compressed.js"></script>
  <script src="/static/game/js/blockly/blocks_compressed.js"></script>
  <script src="/static/game/js/blockly/javascript_compressed.js"></script>
  <script src="/static/game/js/blockly/msg/js/en.js"></script>
  <script src="/static/game/js/blockly_test.js"></script>

{% endblock %}

{% block stylesheets %}
<style type="text/css">
    #wrapper {
        overflow:hidden;
    }
    #paper {
        height: 800px;
        width: 1000px;
        border: 0px;
        background-color: rgb(180, 180, 180);
        float: left;
    }
    #blockly {
        height: 500px;
        width: 500px;
        float: left;
    }
</style>
{% endblock %}

{% block content %}
<p>Use the arrow keys to drive the van</p>
<div id="wrapper">
<div id="paper"></div>
<div id="blockly"></div>
</div>
<button onclick="reset();">Reset</button>
<button onclick="randomRoad();">Random road</button>
<button onclick="BlocklyTest.execute();">Execute</button>
<xml id="toolbox" style="display: none">
    <block type="controls_repeat_ext"></block>
    <block type="math_number"></block>
    <block type="move_van"></block>
    <block type="turn_van"></block>
</xml>

{% endblock %}
