{% extends 'website/base.html' %}

{% load compress %}
{% load static %}

{% block title %}Game{% endblock %}

{% block css %}
{{block.super}}
  {% compress css %}
      <link href="{% static 'game/css/level_selection.css' %}" rel="stylesheet" type="text/css">
  {% endcompress %}
{% endblock %}

{% block scripts %}
{{block.super}}
  <script>
    function tab(tab) {
      {% for episode in episodeData %}
        document.getElementById("{{ episode.0.name }}").style.display = "none";
        document.getElementById("{{ episode.0.name }}").setAttribute("class", "");
      {% endfor %}
      
      document.getElementById(tab).style.display = "block";
      document.getElementById("li_"+tab).setAttribute("class", "active");
    };
    tab("{{ episodeData.0.0.name}}")
  </script>
{% endblock %}

{% block content %}
  <div id="Tabs">
    <ul>
      {% for episode in episodeData %}
        <li id="li_{{ episode.0.name }}" onclick="tab('{{ episode.0.name }}')"><a style="background: rgba({{episode.1.0}}, {{episode.1.1}}, {{episode.1.2}}, {{episode.2}})"><h5>{{ episode.0.name }}</h5></a></li>
      {% endfor %}
    </ul>
  </div>

  <div id="Content_Area">
    {% for episode in episodeData %}
      <div id="{{ episode.0.name }}" style="background: rgba({{episode.1.0}}, {{episode.1.1}}, {{episode.1.2}}, {{episode.2}}); display: none; border: 1px solid black">
        <table class="transparent">
          <col width="20%">
          <col width="70%">
          <col width="10%">
          {% for level in episode.0.levels %}
            <tr>
              <td> <button class="levelButton" onclick="window.location.href='/game/{{ level.id }}'"
                    style="background: rgba(99, 119, 0, {{episode.2}})">
                    {{ level }} </button>
              </td>
              {% for row in levelData %}
                {% if forloop.counter == level.id %}
                  <td>{{ row.0 }} </td>
                  <td>{{ row.1 }} </td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}

          <tr>
            <td>
              <a class="button" style="padding-left:30px" href="/game/levels/random/{{episode.0.id}}">Random Road!</a>
            </td>
            <td> Generate a random level for this theme. </td>
            <td> </td>
          </tr>

        </table>
      </div>
    {% endfor %}
  </div>
{% endblock %}