{% extends 'website/base.html' %}

{% load compress %}
{% load static %}

{% block title %}Game{% endblock %}

{% block css %}
{{block.super}}
  {% compress css %}
      <link href="{% static 'game/css/level_selection.css' %}" rel="stylesheet" type="text/css">
  {% endcompress %}
{% endblock %}

{% block content %}

  {% for episode in episodeData %}
    <div class="episode" id="{{episode.0.name}}"
       style="background: rgba({{episode.1.0}}, {{episode.1.1}}, {{episode.1.2}}, {{episode.2}})">
      <h5>{{ episode.0.name }}</h5>

        {% for level in episode.0.levels %}

          <h6>
            <a href="/game/{{ level.id }}">{{ level }}</a>
          </h6>

        {% endfor %}
    </div>
  {% endfor %}
  <a class="button" href="/game/levels/random">Random Road!</a>

{% endblock %}
