{% extends 'website/base.html' %}

{% block title %}Map Designer{% endblock %}

{% block scripts %}
{{block.super}}
  <script src="/static/game/js/raphael.js"></script>
  <script src="/static/game/js/drawing.js"></script>

  <script src="/static/game/js/map_editor.js"></script>
  <script src="/static/game/js/coordinate.js"></script>
  <script src="/static/game/js/node.js"></script>
  <script src="/static/game/js/ui.js"></script>
  <script src="/static/game/js/map.js"></script>
  <script src="/static/game/js/random_road.js"></script>



{% endblock %}

{% block css %}
{{block.super}}
  <link href="/static/game/css/level_editor.css" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}
<div id="wrapper">
  <h4> Design your own map!</h4>
  <div id="paper" class="col"></div>
  <div id="tools" class="col">
    <div id="buttons" class="col">
      <button id="clear">Clear</button>
      <button id="export">Play it</button><hr>
    </div>
  </div>

  <ul class="tabs">
    <li>
      <input type="radio" checked name="tabs" id="tab1"> 
      <label for="tab1">Arrows</label> 
      <div id="tab-content-arrows" class="tab-content">
          <button id="createFromSelect">Do the magic</button>
          <button id="undo">Undo</button>
          <button id="clear">Clear</button><br>
          <button id="dummy" style="visibility:hidden">&#x2190;</button>
          <button id="up">&#x2191;</button><br>
          <button id="left">&#x2190;</button>
          <button id="down">&#x2193;</button>
          <button id="right">&#x2192;</button><hr>
      </div>
    </li>
    <li>
      <input type="radio" name="tabs" id="tab2">
      <label for="tab2">Drag and drop</label>
      <div id="tab-content-dragNdrop" class="tab-content">
        <div id="buttons" class="col">
          <button id="createFromSelect">Do the magic</button>
          <button id="undo">Undo</button>
          <button id="clear">Clear</button><br>
          <button id="dummy" style="visibility:hidden">&#x2190;</button>
          <button id="up">&#x2191;</button><br>
          <button id="left">&#x2190;</button>
          <button id="down">&#x2193;</button>
          <button id="right">&#x2192;</button><hr>
        </div>
      </div>
    </li>
  </ul>
   
<!--

  <div id="tools" class="col">
    <div id="buttons" class="col">
      <button id="createFromSelect">Do the magic</button>
      <button id="undo">Undo</button>
      <button id="clear">Clear</button>
      <button id="export">Play it</button><hr>
      <button id="dummy" style="visibility:hidden">&#x2190;</button>
      <button id="up">&#x2191;</button><br>
      <button id="left">&#x2190;</button>
      <button id="down">&#x2193;</button>
      <button id="right">&#x2192;</button><hr>
    </div>
    <div id="drag-elements" class="col">
      <button id="UL">&#x2934;</button>
      <button id="DL">&#x2935;</button><br>
      <button id="DR">&#x2939;</button>
      <button id="UR">&#x2937;</button><br>
      <button id="H">&#x97;</button>
      <button id="V">&#x7C;</button>
    </div>

  </div>
  -->

</div>

{% endblock %}
