{% extends 'game/base.html' %}

{% load static %}
{% load compress %}

{% block title %}Code for Life - Rapid Router - Scoreboard{% endblock %}

{% block scripts %}
  <script src="{% static 'game/js/jquery.tablesorter.min.js' %}"></script>
  <script>
    $(document).ready(function() {
      $("#scoreboardTable").tablesorter();
    });
  </script>
{{block.super}}
{% endblock %}

{% block css %}
{{block.super}}
  {% compress css %}
      <link href="{% static 'game/css/scoreboard.css' %}" rel="stylesheet" type="text/css">
  {% endcompress %}
{% endblock %}

{% block nav_ocargo_scoreboard %}
<b><a href="{% url 'game.views.scoreboard.scoreboard' %}">Scoreboard</a></b>
{% endblock nav_ocargo_scoreboard %}

{% block content %}
<h1>Scoreboard</h1><br>
<div class='span_3_of_3'>
  <div class='login-card'>
    <h3>Filter Scoreboard</h3><br>
    <p>Filter the scores by class and level, and click 'Submit' to see the scores!</p>
    <div id="form" class="form">
    <form action="" method="post" id="scoreboardForm">
      {% csrf_token %}
      <div class='section group'>
        <div class='col span_1_of_3_strict'>
          <div class='section group'>
            <div class='col span_1_of_3'>
              Classes:
            </div>
            <div class='col span_2_of_3'>
              {{form.classes.errors}}
              {{form.classes}}
            </div>
          </div>
        </div>
        <div class='col span_1_of_3_strict'>
          <div class='section group'>
            <div class='col span_1_of_3'>
              Levels:
            </div>
            <div class='col span_2_of_3'>
              {{form.levels.errors}}
              {{form.levels}}
            </div>
          </div>
        </div>
        <div class='col span_1_of_3_strict'>
          <button class='btn btn-primary wide' type="submit">Submit</button>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>
<br>
<div class="mainBody">
  <div class="tableWrapper">
    {% if student_data %}
    <table id="scoreboardTable" class="tablesorter CSSTable wide alternate ">
    <thead>
      <tr>
        {% for header in thead %}
          <th> {{header}} </th>
        {% endfor %}
      </tr>
      </thead>
      {% for student in student_data %}
      <tr>
          <td> {{student.0.user.user.first_name}} </td>
          <td> {{student.1}} </td>
          <td> {{student.2}}</td>
          {% if thead.1 == 'Score' %}
            <td> {{student.3}} </td>
            <td> {{student.4}} </td>
          {% else %}
            {% for levelScore in student.3 %}
              <td> {{levelScore}} </td>
            {% endfor %}
          {% endif %}
        </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>
</div>
{% endblock %}
