{% extends 'website/base.html' %}

{% block title %}Settings{% endblock %}

{% block css %}
{{block.super}}
  <link href="/static/game/css/level_editor.css" rel="stylesheet" type="text/css">
  <link href="/static/game/css/settings.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<dif id="main">
  <div id="wrapper">
    <h4>Settings</h4>
    <ul class="tabs">
      <li>
        <input type="radio" checked name="tabs" id="tab1">
        <label for="tab1">Avatar</label>
        <div id="tab-content-avatar" class="tab-content">
          <form method="post" action="">
          {% csrf_token %}
            <h5>{{chooseAvatar}}</h5>
            <div class="avatar_container">
            {% for image in avatarPreUploadedForm.avatars.field.choices %}
              <div id="choice">
                <label>
                  {% if forloop.counter == 1 %}
                    <input type="radio" name="pre-uploaded" 
                  value="static/game/image/avatars/{{image}}" checked>
                  {% else %}    
                    <input type="radio" name="pre-uploaded" value="static/game/image/avatars/{{image}}" >
                  {% endif %}
                  <img src="/static/game/image/avatars/{{image}}"/> 
                </label>
              </div>
            {% endfor %}
            </div>
            <div class="avatar_container">
              <input id="submitAvatar" type="submit" name="pre" value="Change the avatar">
            </div>
          </form><hr>
          <div class="avatar_container">
            <form method="post" action="" name="user-uploaded"  enctype="multipart/form-data"> 
            {% csrf_token %}
              <h5> Or upload your own </h5>
              {{avatarUploadForm.avatar}}
              <input type="submit" name="user-uploaded" value="Upload the file">
            </form>
          </div>
        </div>
      </li>
      <li>
        <input type="radio" name="tabs" id="tab2">
        <label for="tab2">Levels Owned</label>
        <div id="tab-content-levels" class="tab-content">
        <h5>{{levelMessage}}</h5>
        {% if levels %}
          {% for level in levels %}
            <br>
            <a href="/game/{{level.id}}"> {{level.name}} </a>
            <a href="#" data-reveal-id="firstModal" class="radius button shareButton">Share</a>
          {% endfor %}

        {% else %}
          <button onclick="window.location.href='/game/level_editor'"> Create a level! </button>
        {% endif %}
        </div>
      </li>
    </ul>
    {{message}}
   
  </div>
</dif> 
<div id="profile">
  <div id="wrapper">
	  {% if user.userprofile.avatar %}
	    <img src="/{{user.userprofile.avatar.url}}" /> 
	  {% endif %}
	  <h4>{{user.username}}</h4>
	  <h5>{{user.first_name}}</h5>
	  <h5>{{user.last_name}} </h5>
  </div>
</div>

<div id="firstModal" class="reveal-modal" data-reveal>
  <form method="post" action="">
  {% csrf_token %}
  {{shareLevelForm.as_p}}
  <input type="submit" value="Submit" />
  </form>

  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="whichPerson" class="reveal-modal" data-reveal>
  <h2 class="title"></h2>
  <p class="lead"></p>
  <p class="mainText"></p>
  <a class="close-reveal-modal">&#215;</a>
</div>
{% endblock %}