name: CI
on: pull_request
jobs:
  build:
    runs-on: ubuntu-18.04
    env:
      LANG: C.UTF-8
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.6.7'
        architecture: 'x64'
    - name: Install pip requirements
      run: |
        pip install pipenv
        pip install pytest-cov
        pipenv install --dev --system
        pip install -U git+https://github.com/ocadotechnology/codeforlife-portal@django_2_upgrade #TODO: Remove as part of #688
        pip install -U git+https://github.com/ocadotechnology/aimmo@django_2_upgrade
        pip install -U "git+https://github.com/ocadotechnology/codeforlife-portal@django_2_upgrade#egg=cfl-common&subdirectory=cfl_common"
    - name: Collect static
      run: python example_project/manage.py collectstatic --noinput
    - name: Run tests
      env:
        SELENIUM_WEBDRIVER: chrome-headless
      run: pytest --cov=. --cov-report=xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
