name: CI
on:
  release:
    types: [published]
  pull_request:
jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-20.04
    env:
      LANG: C.UTF-8
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.7"
          architecture: "x64"
      - name: Install pip requirements
        run: |
          pip install pipenv
          pip install pytest-cov
          pipenv install --dev --system
      - name: Collect static
        run: python example_project/manage.py collectstatic --noinput
      - name: Run Python tests
        run: |
          cd example_project
          ls
          pytest -x --cov=. --cov-report=xml -vv
        env:
          SELENIUM_WEBDRIVER: chrome-headless
          SELENIUM_HEADLESS: True
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
